.rowSpaceCbx {
    display: flex;
    align-items: center; }

.formCbx {
    z-index: -1;
    opacity: 0; }

.formCbx + label {
    position: relative;
    cursor: pointer; }

.formCbx + label:before {
    content: "";
    position: absolute;
    top: -8px;
    left: -14px;
    width: 16px;
    height: 16px;
    border: 2px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 4px;
    transition: 0.2s; }

.formCbx + label:after {
    content: "";
    position: absolute;
    top: -4px;
    left: -11px;
    width: 8px;
    height: 4px;
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    transform: rotate(-45deg); }

.formCbx:checked + label:before {
    background: #109CF1;
    border: #109CF1; }

.formCbx:checked + label:after {
    border-left: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    transform: rotate(-45deg); }

.form__cbx:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 480px) {
    .rowSpaceCbx {
        display: flex;
        align-items: center; }
}