.header-line {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #334D6E; }

.row-space {
    display: flex;
    align-items: center; }





.hide {
    display: none; }

.wrapperSpan {
    display: flex;
    justify-content: center; }

.selectedInfo {
    margin-right: 15%;
    display: flex;
    align-items: center; }

.deleteted-box {
    cursor: pointer;
    display: flex;
    align-items: center; }

.deleteted-box:hover .deletCbx {
    fill: #F7685B; }

tr {
    padding: 0 24px; }

th {
    padding-left: 14px;
    height: 48px; }

td {
    padding-left: 14px;
    border-top: 1px solid #EBEFF2;
    height: 64px;
    cursor: pointer; }

.last__td {
    padding-right: 24px;
    text-align: right; }

.row-1 {
    text-align: left; }

.header-text {
    opacity: 0.5; }

@media screen and (max-width: 974px) {
    .header-text {
        display: none; }
    td {
        border-top: none;
    }
}

@media screen and (max-width: 756px) {
    .header-line {
        font-weight: 500;
        font-size: 0.813em;
        line-height: 1.188em;
        letter-spacing: 0.01em;
        color: #334D6E; }
}

@media screen and (max-width: 480px) {
    .row-space {
        display: flex;
        align-items: center; }
    .last__td {
        padding-right: 24px;
        text-align: right; }
}