.headerLine {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #334D6E; }

.rowSpace {
    display: flex;
    align-items: center; }





.hide {
    display: none; }

.wrapperSpan {
    display: flex;
    justify-content: center; }

.selectedInfo {
    margin-right: 15%;
    display: flex;
    align-items: center; }

.deletetedBox {
    cursor: pointer;
    display: flex;
    align-items: center; }

.deletetedBox:hover .deletCbx {
    fill: #F7685B; }

tr {
    padding: 0 24px; }

th {
    padding-left: 14px;
    height: 48px; }

td {
    padding-left: 14px;
    border-top: 1px solid #EBEFF2;
    height: 64px;
    cursor: pointer; }

.lastTd {
    padding-right: 24px;
    text-align: right; }

.row1 {
    text-align: left; }

.headerText {
    opacity: 0.5; }

@media screen and (max-width: 974px) {
    .headerText {
        display: none; }
    td {
        border-top: none;
    }
}

@media screen and (max-width: 756px) {
    .headerLine {
        font-weight: 500;
        font-size: 0.813em;
        line-height: 1.188em;
        letter-spacing: 0.01em;
        color: #334D6E; }
}

@media screen and (max-width: 480px) {
    .rowSpace {
        display: flex;
        align-items: center; }
    .lastTd {
        padding-right: 24px;
        text-align: right; }
}