.header .searchContainer .searchString {
    display: flex;
    align-items: center;
    width: 100%; }

.mnuItem:hover .mnuItemSvg {
    stroke: #109CF1; }

.header .searchContainer .searching {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #90A0B7; }

@media screen and (max-width: 480px) {
    .header .searchString{
        margin: 0; }
}