.profile {
    padding: 20px 0 20px 0;
    display: flex; }

.profile .profileInfo {
    display: flex; }
.profile .profileInfo .profile-photo {
    width: 47px;
    height: 47px; }
.profile .profileInfo .profilePhotoMini {
    border-radius: 50%; }
.profile .profileInfo .profile-block {
    padding-left: 9px; }
.profile .profileInfo .profile-block .profileEmail {
    font-size: 11px;
    line-height: 16px;
    color: #90A0B7; }

.profileName {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #323C47; }

@media screen and (max-width: 1085px) {
    .profile-block {
        display: none; }
    .profile-photo {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .profile {
        display: none; }
    .profile .profileInfo {
        display: none; }
    .profile .profileInfo .profile-block {
        padding-left: 9px; }
    .profile .profileInfo .profile-block .profileEmail {
        font-size: 11px; }
    .profileName {
        display: none;
        align-items: center;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #323C47; }
}