.setting {
    display: flex;
    align-items: center; }

.settingWrap {
    display: flex;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    padding-left: 24px;}

.setting:hover .filSvg {
    fill: #109CF1; }

.mnuItem {
    display: flex;
    padding-top: 20px;
    cursor: pointer; }

.mnuItemName {
    padding-left: 16.5px; }

.mnuItem:hover, .mnuItem .mnuItemName:hover {
    color: #109CF1; }

@media screen and (max-width: 1085px) {
    .mnuItem {
        justify-content: center; }
    .mnuItemName {
        display: none; }
    .settingWrap {
        display: flex;
        padding-left: 24px;
        font-size: 13px;
        line-height: 19px; }
}

@media screen and (max-width: 480px) {
    .mnuItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        padding: 0;
    }

    .mnuItemName {
        display: none;
    }

    .settingWrap {
        display: flex;
        font-size: 13px;
        line-height: 19px;
        padding-left: 0px;
    }

    .mnu, .settingWrap {
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 0.01em;
    }
}
@media screen and (max-width: 756px) {
    .mnuItemName {
        display: none;
    }
}