.profileContainer {
    border-bottom: 1px solid #EBEFF2;
    padding: 0 24px 24px 24px; }

@media screen and (max-width: 1085px) {
    .profile {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    .profileContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0;
        width: 60%;
    }
}