.sidebarNameInner {
    width: 290px;
    margin: 0px auto 0px 24px; }

.blockName {
    padding: 17px 0 17px 0; }
.blockName .name {
    color: #109CF1;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px; }

@media screen and (max-width: 1085px) {
    .sidebarNameInner {
        width: 68px;
        margin: 0;
        display: flex;
        text-align: center; }
}
@media screen and (max-width: 480px) {
    .sidebarNameInner {
        display: none;
        border-bottom: none;
        padding: 0;}
}