.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 256px;
    background: #FFFFFF;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    height: 100%;
    padding-top: 60px;
    transition: .15s; }

.sidebar .goSidebar {
    position: fixed;
    width: 80px;
    transition: .2s; }

@media screen and (max-width: 1085px) {
    .sidebar {
        width: 68px; }
}

@media screen and (max-width: 480px) {
    .sidebar {
        position: fixed;
        right: 0;
        width: 100%;
        align-items: center; }

    .sidebar-container {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: space-around;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
        border: none;
        width: 100%; }

    .sidebar, .sidebar-container {
        display: flex;
        position: fixed;
        height: 20px;
        right: 0;
        justify-content: space-around;
        align-items: center;
        background: #FFFFFF;
        box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
        border: none;
        padding: 10px 0;
        width: 100%; }
}