.checkedToggle {
    fill: #109CF1; }

.Sidebar {
    position: fixed;
    width: 80px;
    transition: .2s; }

.profileMnuItem {
    display: none; }

.containerToggle {
    margin-left: 80px; }

.sidebarInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.clearkit {
    display: none; }

.sidebarInnerCheck {
    width: 62px; }