.stat {
    background: #FFFFFF;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    max-width: 445px;
    margin-top: 24px;
    width: 100%; }

.diagram-header {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
    padding: 15px 24px 15px 24px;
    letter-spacing: 0.01em;
    color: #192A3E;
    border-bottom: 1px solid #EBEFF2; }

.progress-compl-task {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #192A3E; }

.task {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #334D6E; }
.task .data-filter {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #6A707E; }

.contact-sort {
    display: flex;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #6A707E;
    cursor: pointer; }

.diagram-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 33px 0; }

.diagram-circle {
    background: #FFFFFF;
    width: 224px;
    height: 224px;
    text-align: center;
    font-weight: 500;
    font-size: 56px;
    line-height: 84px;
    text-align: center;
    color: #2ED47A;
    border: 8px solid #2ED47A;
    border-right: 8px solid #FFB946;
    border-bottom: 8px solid #F7685B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }

.diagram-circle__proc {
    font-size: 0.6em; }

.point-wrapper {
    display: flex;
    flex-direction: column; }

.info-point {
    display: flex;
    padding-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #192A3E; }
.info-point .info-point__name {
    padding-left: 8px; }

@media screen and (max-width: 1085px) {
    .stat {
        width: 100%;
        margin: 24px 0 24px 12px; }
}

@media screen and (max-width: 756px) {
    .stat {
        margin: 24px 0 0 0; }
}

@media screen and (max-width: 480px) {
    .calendar, .stat, .dd-wrap {
        margin-top: 24px; }
    .stat {
        width: 100%;
        box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06); }
    .diagram-header {
        border: none; }
    .contact-sort {
        display: flex;
        font-weight: normal;
        font-size: 0.750em;
        line-height: 1.125em;
        letter-spacing: 0.01em;
        color: #6A707E;
        cursor: pointer; }
}