.base-wrapper {
    padding: 20px;
    display: flex; }

.dd-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #FFFFFF;
    padding: 15px;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px; }

.progress-check {
    padding: 0 24px; }

.task {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #334D6E; }
.task .data-filter {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #6A707E; }

.wrap__progress-line {
    padding-top: 16px;
    padding-bottom: 20px;
    width: 100%; }

.progress-line {
    position: relative;
    width: 100%;
    height: 4px;
    background: #EBEFF2;
    border-radius: 3px; }
.progress-line::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 80%;
    background: #2ED47A;
    border-radius: 3px; }

.progres-wrap {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }

.calendar-week {
    padding: 0 24px;
    border-bottom: 1px solid #EBEFF2; }
.calendar-week .days-week {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 27px; }

.number__day {
    padding-top: 8px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #4C5862; }

.name__day {
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #334D6E;
    opacity: 0.5; }

.now__day {
    color: #FFFFFF;
    position: relative; }
.now__day::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    border-radius: 50%;
    background: #109CF1; }
.now__day::after {
    content: '23';
    position: absolute;
    color: #FFFFFF;
    left: 4px;
    bottom: -3px; }

.drag-drop-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 24px 0 24px; }

.card {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 16px;
    margin-top: 24px; }
.card:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14); }
.card:hover .edit-control {
    opacity: 1;
    transition: .2s; }

.identical-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
.identical-inner .identical__status {
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.01em;
    color: #90A0B7; }

.identical-status_inner {
    display: flex;
    justify-content: flex-end; }

.status-event {
    display: flex; }
.status-event .edit-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    cursor: pointer; }

.control {
    margin-left: 10px; }

.eclipse {
    padding-right: 8px; }

.status__name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 22px;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.02em; }

.end {
    background: #F7685B; }

.complited {
    background: #2ED47A; }

.event-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between; }

.events__name {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #323C47; }

.date {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #192A3E; }

.events-date {
    display: flex; }
.events-date .due {
    padding-right: 5px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4C5862; }
.events-date .due__date {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4C5862; }

.person-block {
    padding-top: 22px;
    display: flex;
    align-items: center; }

.person-photo {
    width: 24px;
    height: 24px; }
.person-photo .mini__photo {
    border-radius: 50%; }

.person__name {
    padding-left: 12px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #707683; }

.show-more {
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #109CF1; }

.calendar {
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    padding: 28px 24px 17px 24px; }

.progres-calendar-wrapper {
    width: 100%;
    max-width: 450px; }

.arrow {
    cursor: pointer; }

.nameMonthWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.87); }

.monthDayWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px; }

.tableBody {
    width: 100%; }

.nameDayWrapper {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6); }

.nameDay {
    text-align: center; }

.numberDay {
    width: 32px;
    height: 32px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    padding-top: 10px; }

.blue {
    position: relative;
    background: #109CF1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #FFFFFF; }

.stat {
    background: #FFFFFF;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    max-width: 445px;
    margin-top: 24px;
    width: 100%; }

.diagram-header {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
    padding: 15px 24px 15px 24px;
    letter-spacing: 0.01em;
    color: #192A3E;
    border-bottom: 1px solid #EBEFF2; }

.progress-compl-task {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #192A3E; }

.diagram-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 33px 0; }

.diagram-info_vertical {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.point-wrapper {
    display: flex;
    flex-direction: column; }

.info-point {
    display: flex;
    padding-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #192A3E; }
.info-point .info-point__name {
    padding-left: 8px; }

.diagram-circle {
    background: #FFFFFF;
    width: 224px;
    height: 224px;
    text-align: center;
    font-weight: 500;
    font-size: 56px;
    line-height: 84px;
    text-align: center;
    color: #2ED47A;
    border: 8px solid #2ED47A;
    border-right: 8px solid #FFB946;
    border-bottom: 8px solid #F7685B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }

.diagram-circle__proc {
    font-size: 0.6em; }

.contact-sort {
    display: flex;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #6A707E;
    cursor: pointer; }

.contact-sort__list {
    cursor: pointer;
    border: none;
    width: 100px;
    height: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #109CF1;
    background: none;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none; }