.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    align-items: center;
    border-bottom: 1px solid #EBEFF2; }
.header .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 24px; }
.header .search-container .searching {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #90A0B7; }
.header .search-container .search-string {
    display: flex;
    align-items: center;
    width: 100%; }
.header .search-container input, .header .search-container button {
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    align-items: center; }
.header .search-container input {
    width: 80%;
    height: 60px; }
.header .search-container button {
    cursor: pointer;
    padding-right: 15px; }
.header .search-container .notification {
    position: relative;
    cursor: pointer; }
.header .search-container .notification .notification__point::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #F7685B; }