.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 256px;
    background: #FFFFFF;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    height: 100%;
    padding-top: 60px;
    transition: .15s; }

.profile-container {
    border-bottom: 1px solid #EBEFF2;
    padding: 0 24px 24px 24px; }

.block-name {
    padding: 17px 0 17px 0; }
.block-name .name {
    color: #109CF1;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px; }

.profile {
    padding: 20px 0 20px 0;
    display: flex; }
.profile .profile-info {
    display: flex; }
.profile .profile-info .profile-photo {
    width: 47px;
    height: 47px; }
.profile .profile-info .profile-photo__mini {
    border-radius: 50%; }
.profile .profile-info .profile-block {
    padding-left: 9px; }
.profile .profile-info .profile-block .profile__email {
    font-size: 11px;
    line-height: 16px;
    color: #90A0B7; }

.mnu, .setting-wrap {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em; }

.mnu-item {
    display: flex;
    padding-top: 20px;
    cursor: pointer; }
.mnu-item__name {
    padding-left: 16.5px; }
.mnu-item:hover, .mnu-item .mnu-item__name:hover {
    color: #109CF1; }
.mnu-item:hover .mnu-item__svg {
    stroke: #109CF1; }

.checkedToggle {
    fill: #109CF1; }

.setting-wrap {
    display: flex; }

.setting {
    display: flex;
    align-items: center; }
.setting:hover .fil__svg {
    fill: #109CF1; }

.setting-wrap {
    padding-left: 24px; }

.toggle-wrap {
    padding-left: 24px;
    position: relative;
    bottom: 2%; }

.toggle {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #90A0B7; }
.toggle:hover .fil__svg {
    fill: #109CF1; }
.sidebar-name-inner {
    width: 290px;
    margin: 0px auto 0px 24px; }

.sidebarInnerCheck {
    width: 62px; }